<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Сотрудники</h1>
{% block content %}
<table border = '1' cellpadding="5px">
    <tr style = 'background: blue; color: white;'>
        <td>ID</td>
        <td>Имя</td>
        <td>Фамилия</td>
        <td>Дата рождения</td>
        <td>Компания</td>
        <td>Должность</td>
        <td>Язык программирования</td>
        <td>Зарплата</td>
    </tr>
    {% for human in all_humans  %}
    <tr>
        <td>{{human.pk}}</td>
        <td>{{human.name}}</td>
        <td>{{human.surname}}</td>
        <td>{{human.birth}}</td>
        <td>{{human.company}}</td>
        <td>{{human.position}}</td>
        <td>{{human.language}}</td>
        <td>{{human.salary}}</td>
    </tr>
    {% endfor %}
</table>
<h2>Работают в Google</h2>
<table border="1" cellpadding="5px">
    <tr style="background: red; color: white;">
        <td>Имя</td>
        <td>Фамилия</td>
        <td>Дата рождения</td>
        <td>Компания</td>
        <td>Должность</td>
        <td>Язык программирования</td>
        <td>Зарплата</td>
    </tr>
        {% for human in workers_google  %}
    <tr>
        <td>{{human.name}}</td>
        <td>{{human.surname}}</td>
        <td>{{human.birth}}</td>
        <td>{{human.company}}</td>
        <td>{{human.position}}</td>
        <td>{{human.language}}</td>
        <td>{{human.salary}}</td>
    </tr>
    {% endfor %}
</table>
<h2>Сортировка по дате без параметров</h2>
<table border = '1' cellpadding="5px">
    <tr style = 'background: green; color: black;'>
        <td>ID</td>
        <td>Имя</td>
        <td>Фамилия</td>
        <td>Дата рождения</td>
        <td>Компания</td>
        <td>Должность</td>
        <td>Язык программирования</td>
        <td>Зарплата</td>
    </tr>
    {% for elem in ordered %}
    <tr>
        <td>{{elem.pk}}</td>
        <td>{{elem.name}}</td>
        <td>{{elem.surname}}</td>
        <td>{{elem.birth}}</td>
        <td>{{elem.company}}</td>
        <td>{{elem.position}}</td>
        <td>{{elem.language}}</td>
        <td>{{elem.salary}}</td>
    </tr>
    {% endfor %}
</table>

<h2>Сортировка по ЗП</h2>
<table border = '1' cellpadding="5px">
    <tr style="background: pink; color: black;">
        <td>ID</td>
        <td>Имя</td>
        <td>Фамилия</td>
        <td>Дата рождения</td>
        <td>Компания</td>
        <td>Должность</td>
        <td>Язык программирования</td>
        <td>Зарплата</td>
    </tr>
    {% for elem in sorted_salary %}
    <tr>
        <td>{{elem.id}}</td>
        <td>{{elem.name}}</td>
        <td>{{elem.surname}}</td>
        <td>{{elem.birth}}</td>
        <td>{{elem.company}}</td>
        <td>{{elem.position}}</td>
        <td>{{elem.language}}</td>
        <td>{{elem.salary}}</td>
    </tr>
    {% endfor %}
</table>
<hr>
<hr>
<hr>


<h2>Форма поиска</h2>
<form action="" method = 'post'>
    {% csrf_token %}
    <label for="">Введите компанию</label>
    <input name = 'search' type = "text">
    <button type="submit">Найти</button>
</form>
{% endblock %}
</body>
</html>