<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/lesson-fifth/search" method="get">
    <input type="text" name="q">    <!-- Если поменять на qwerty то тогда вызовется пустая форма -->
    <input type="submit" value="Search">
</form>

<form action="/lesson-fifth/file-input/" method="post">
    {%csrf_token%}
    Ваше имя<input type="text" name="name"><br>
    Ваше фамилия<input type="text" name="surname"><br>
    Ваша дата рождения<input type="text" name="birth"><br>
    Ваш пол<br>
    <input type="radio" name="gender" value="male">Мужчина<br>
    <input type="radio" name="gender" value="female">Женщина

    <button type="submit">Записать в файл</button>
</form>
</body>
</html>